{{- if .Values.jibri.custom.other._finalize_sh }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "jitsi-meet.jibri.fullname" . }}-other
  labels:
    {{- include "jitsi-meet.jibri.labels" . | nindent 4 }}
data:
  finalize.sh: |
    {{- .Values.jibri.custom.other._finalize_sh | nindent 4 }}
{{- end }}
