{{- if and
       .Values.jibri.enabled
       (not .Values.jibri.useExternalJibri)
       (or
          .Values.jibri.custom.defaults._jibri_conf
          .Values.jibri.custom.defaults._logging_properties
          .Values.jibri.custom.defaults._jibri_autoscaler_sidecar_config
          .Values.jibri.custom.defaults._xorg_video_dummy_conf
       )
}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "jitsi-meet.jibri.fullname" . }}-defaults
  labels:
    {{- include "jitsi-meet.jibri.labels" . | nindent 4 }}
data:
  {{- with .Values.jibri.custom.defaults._jibri_conf }}
  jibri.conf: |
    {{- . | nindent 4 }}
  {{- end }}

  {{- with .Values.jibri.custom.defaults._logging_properties }}
  logging.properties: |
    {{- . | nindent 4 }}
  {{- end }}

  {{- with .Values.jibri.custom.defaults._jibri_autoscaler_sidecar_config }}
  autoscaler-sidecar.config: |
    {{- . | nindent 4 }}
  {{- end }}

  {{- with .Values.jibri.custom.defaults._xorg_video_dummy_conf }}
  xorg-video-dummy.conf: |
    {{- . | nindent 4 }}
  {{- end }}
{{- end }}
