{{- if .Values.coturn.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "jitsi-meet.coturn.fullname" . }}-config
  labels:
    {{- include "jitsi-meet.coturn.labels" . | nindent 4 }}
data:
  turnserver.conf: |-
    realm={{ .Values.turnHost }}
    listening-ip=0.0.0.0
    log-file=stdout
    use-auth-secret
    no-multicast-peers
    no-cli
    no-loopback-peers
    {{- if .Values.coturn.turns.enabled }}
    tls-listening-port={{ .Values.coturn.turns.port }}
    cert=/tls/tls.crt
    pkey=/tls/tls.key
    min-port={{ .Values.coturn.turns.relayPortRange.min }}
    max-port={{ .Values.coturn.turns.relayPortRange.max }}
    {{- else }}
    no-tls
    listening-port={{ .Values.coturn.service.ports.turn }}
    no-tcp-relay
    {{- end }}
    no-dtls
    denied-peer-ip=0.0.0.0-0.255.255.255
    denied-peer-ip=127.0.0.0-127.255.255.255
    denied-peer-ip=::1
    denied-peer-ip=100.64.0.0-100.127.255.255
    denied-peer-ip=169.254.0.0-169.254.255.255
    denied-peer-ip=10.0.0.0-10.255.255.255
    denied-peer-ip=172.16.0.0-172.31.255.255
    denied-peer-ip=192.168.0.0-192.168.255.255
    denied-peer-ip=192.0.0.0-192.0.0.255
    denied-peer-ip=192.0.2.0-192.0.2.255
    denied-peer-ip=192.88.99.0-192.88.99.255
    denied-peer-ip=198.18.0.0-198.19.255.255
    denied-peer-ip=198.51.100.0-198.51.100.255
    denied-peer-ip=203.0.113.0-203.0.113.255
    denied-peer-ip=240.0.0.0-255.255.255.255
    denied-peer-ip=64:ff9b::-64:ff9b::ffff:ffff
    denied-peer-ip=::ffff:0.0.0.0-::ffff:255.255.255.255
    denied-peer-ip=100::-100::ffff:ffff:ffff:ffff
    denied-peer-ip=2001::-2001:1ff:ffff:ffff:ffff:ffff:ffff:ffff
    denied-peer-ip=2002::-2002:ffff:ffff:ffff:ffff:ffff:ffff:ffff
    denied-peer-ip=fc00::-fdff:ffff:ffff:ffff:ffff:ffff:ffff:ffff
    denied-peer-ip=fe80::-febf:ffff:ffff:ffff:ffff:ffff:ffff:ffff
    {{- if .Values.coturn.allowedPeerIp }}
    allowed-peer-ip={{ .Values.coturn.allowedPeerIp }}
    {{- else if .Values.coturn.turns.enabled }}
    allowed-peer-ip=10.244.0.0/16
    {{- end }}
{{- end }}
