{{- if or
  .Values.web.custom.configs._custom_config_js
  .Values.web.custom.configs._custom_interface_config_js
  .Values.web.custom.defaults._default
  .Values.web.custom.defaults._ffdhe2048_txt
  .Values.web.custom.defaults._interface_config_js
  .Values.web.custom.defaults._meet_conf
  .Values.web.custom.defaults._nginx_conf
  .Values.web.custom.defaults._settings_config_js
  .Values.web.custom.defaults._ssl_conf
  .Values.web.custom.defaults._system_config_js
}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "jitsi-meet.web.fullname" . }}-conffiles
  labels:
    {{- include "jitsi-meet.web.labels" . | nindent 4 }}
data:
  {{- if .Values.web.custom.configs._custom_config_js }}
  custom-config.js: |
    {{- .Values.web.custom.configs._custom_config_js | nindent 4 }}
  {{- end }}

  {{- if .Values.web.custom.configs._custom_interface_config_js }}
  custom-interface_config.js: |
    {{- .Values.web.custom.configs._custom_interface_config_js | nindent 4 }}
  {{- end }}

  {{- if .Values.web.custom.defaults._default }}
  default: |
    {{- .Values.web.custom.defaults._default | nindent 4 }}
  {{- end }}

  {{- if .Values.web.custom.defaults._ffdhe2048_txt }}
  ffdhe2048.txt: |
    {{- .Values.web.custom.defaults._ffdhe2048_txt | nindent 4 }}
  {{- end }}

  {{- if .Values.web.custom.defaults._interface_config_js }}
  interface_config.js: |
    {{- .Values.web.custom.defaults._interface_config_js | nindent 4 }}
  {{- end }}

  {{- if .Values.web.custom.defaults._meet_conf }}
  meet.conf: |
    {{- .Values.web.custom.defaults._meet_conf | nindent 4 }}
  {{- end }}

  {{- if .Values.web.custom.defaults._nginx_conf }}
  nginx.conf: |
    {{- .Values.web.custom.defaults._nginx_conf | nindent 4 }}
  {{- end }}

  {{- if .Values.web.custom.defaults._settings_config_js }}
  settings-config.js: |
    {{- .Values.web.custom.defaults._settings_config_js | nindent 4 }}
  {{- end }}

  {{- if .Values.web.custom.defaults._ssl_conf }}
  ssl.conf: |
    {{- .Values.web.custom.defaults._ssl_conf | nindent 4 }}
  {{- end }}

  {{- if .Values.web.custom.defaults._system_config_js }}
  system-config.js: |
    {{- .Values.web.custom.defaults._system_config_js | nindent 4 }}
  {{- end }}
{{- end }}
