{{- if .Values.coturn.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "jitsi-meet.prosody.fullname" . }}-coturn
  labels:
    {{- include "jitsi-meet.prosody.labels" . | nindent 4 }}
data:
  STUN_HOST: '{{ .Values.turnHost }}'
  STUN_PORT: '{{ .Values.coturn.service.ports.turn }}'
  TURN_HOST: '{{ .Values.turnHost }}'
  TURN_PORT: '{{ .Values.coturn.service.ports.turn }}'
  TURN_TRANSPORTS: "udp,tcp"
{{- end }}
