{{- if or
       .Values.prosody.custom.defaults._prosody_cfg_lua
       .Values.prosody.custom.defaults._saslauthd_conf
       .Values.prosody.custom.defaults._jitsi_meet_cfg_lua
}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "jitsi-meet.prosody.fullname" . }}-defaults
  labels:
    {{- include "jitsi-meet.prosody.labels" . | nindent 4 }}
data:
  {{- with .Values.prosody.custom.defaults._prosody_cfg_lua }}
  prosody.cfg.lua: |
    {{- . | nindent 4 }}
  {{- end }}

  {{- with .Values.prosody.custom.defaults._saslauthd_conf }}
  saslauthd.conf: |
    {{- . | nindent 4 }}
  {{- end }}

  {{- with .Values.prosody.custom.defaults._jitsi_meet_cfg_lua }}
  jitsi-meet.cfg.lua: |
    {{- . | nindent 4 }}
  {{- end }}
{{- end }}
