{{- if .Values.coturn.enabled }}
{{- $udpEnabled := .Values.coturn.transport.udp | default true -}}
{{- $tcpEnabled := .Values.coturn.transport.tcp | default false -}}
{{- if and (not $udpEnabled) (not $tcpEnabled) -}}
{{- $udpEnabled = true -}}
{{- end -}}
{{- $turnTransports := list -}}
{{- if $udpEnabled -}}
{{- $turnTransports = append $turnTransports "udp" -}}
{{- end -}}
{{- if $tcpEnabled -}}
{{- $turnTransports = append $turnTransports "tcp" -}}
{{- end -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "jitsi-meet.prosody.fullname" . }}-coturn
  labels:
    {{- include "jitsi-meet.prosody.labels" . | nindent 4 }}
data:
  {{- if $udpEnabled }}
  STUN_HOST: {{ .Values.turnHost | quote }}
  STUN_PORT: {{ .Values.coturn.service.ports.turn | quote }}
  {{- end }}
  TURN_HOST: {{ .Values.turnHost | quote }}
  TURN_PORT: {{ .Values.coturn.service.ports.turn | quote }}
  TURN_TRANSPORT: {{ join "," $turnTransports | quote }}
{{- end }}
