{{- if and
    .Values.jvb.service.enabled
    (not .Values.jvb.useHostPort)
    (not .Values.jvb.useHostNetwork)
}}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "jitsi-meet.jvb.fullname" . }}
  annotations:
    {{- range $key, $value := .Values.jvb.service.annotations }}
    {{    $key }}: {{ $value | quote }}
    {{- end }}
  labels:
    {{- include "jitsi-meet.jvb.labels" . | nindent 4 }}
spec:
  type: {{ .Values.jvb.service.type }}
  {{- with .Values.jvb.service.loadBalancerIP }}
  loadBalancerIP: {{ . }}
  {{- end }}
  {{- with .Values.jvb.service.ipFamilyPolicy }}
  ipFamilyPolicy: {{ . }}
  {{- end }}
  ports:
    - name: rtp-udp
      protocol: UDP
      port: {{ .Values.jvb.UDPPort | default 10000 }}
      {{- if and
          .Values.jvb.nodePort
          (or
             (eq .Values.jvb.service.type "NodePort")
             (eq .Values.jvb.service.type "LoadBalancer")
          )
      }}
      nodePort: {{ .Values.jvb.nodePort }}
      {{- end }}
    {{- with .Values.jvb.service.extraPorts }}
    {{ toYaml . | indent 4 | trim }}
    {{- end }}
  {{- with .Values.jvb.service.loadBalancerClass }}
  loadBalancerClass: {{ . }}
  {{- end }}
  {{- with .Values.jvb.service.externalIPs }}
  externalIPs:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  externalTrafficPolicy: {{ .Values.jvb.service.externalTrafficPolicy }}
  selector:
    {{- include "jitsi-meet.jvb.selectorLabels" . | nindent 4 }}
{{- end }}
